body {
  margin: 10px;
}
.body-center {
  margin: 0 auto;
  width: 80%
}
.header {
  text-align: center;
  height: 100px;
  background-color: #A4A4A4;
  padding-top: 40px
  border: 1px solid #848484;
  border-radius: 10px;
  color: #FFF;
  padding-top: 40px;
  font-size: 15pt;
}
.container {
  width: auto;
}
.row {
  background-color: #FFF;
  border: 1px #CCC solid;
  height: 40px;
  margin-top: 1px;
  padding-top: 7px;
  border-radius: 5px;
  cursor: pointer;
}
.row:hover {
  background-color: #FAFAFA;
}
.autor {
  color: #999;
}
.time {
  color: #333;
}
.box-inline {
  float:left;
}
